# ======================
# Dependencies
# ======================
node_modules/
dist/

# ======================
# Environment variables
# ======================
.env
.env.local
.env.*.local

# ======================
# Databases (Prisma / SQLite)
# ======================
*.db
*.sqlite
prisma/dev.db

# ======================
# Prisma generated
# ======================
/src/generated/prisma

# ======================
# Logs
# ======================
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# ======================
# IDE / OS
# ======================
.vscode/
.DS_Store
Thumbs.db
